.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
}

.digits {
    padding: 2vh;
}

.selection {
    padding: 1vh;
    font-size: 2vh;
    cursor: pointer;
    border: 2px solid #172841;
}

.boton { 
    padding: 1vh;
    background-color: #172841;
    color: aliceblue;
    font-size: 2vh;
    cursor: pointer;
}

#mensaje {
    font-size: 2vh;
}
